/* Align header class left*/ 
.header {
  text-align: left;
}

/* Align header class left*/ 
.header2 {
  text-align: center;
}

/* Float text in container around image and align left*/ 
#main-summary {
  float: left;
}  

/* Float image in container to left of text*/ 
#landingimage {
  float: left;    
  max-width: 75%;
  height: auto;
  }

/* Make image responsive and scale up to size no larger than original size*/ 
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Format for line under heading*/ 
#line {
  size: 20;
  width: 100%;
}  
